In [19]:
!pip install mysql
import mysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 kB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp310-cp310-linux_x86_64.whl size=108358 sha256=153ac36b58d1630c29ba3ec48e9398bf9a203733589a806c3ac7ffcfce357378
  Stored in directory: /root/.cache/pip/wheels/7d/34/ba/a769c165b01646816afdf9bf792e847ef149693fee432b6b65
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.1.1

In [32]:
# you must have your credencials to connect to the BD, ask Ale for information
cnx = mysql.connector.connect(user='',
                              password='',
                              host='',
                              database='')

In [33]:
cursor_ = cnx.cursor(buffered=True)

In [35]:


query = ("SELECT ID,X1,X3,X6 FROM clients_info WHERE X2 = %s AND X5 = %s")

x2_param = 2 # sexo masculino
x5_param = 23 # edad

cursor_.execute(query, (x2_param, x5_param))

for (x0,x1,x3,x6) in cursor_:
  print(f"Row: --> ID {x0}, data_2 {x1}, data_5 {x3}, data_6 {x6}")

cursor_.close()
cnx.close()

Row: --> ID 8, data_2 100000, data_5 2, data_6 0
Row: --> ID 16, data_2 50000, data_5 3, data_6 1